.container{
    background-image: url('../assets/signinbg.jpg');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    

}
.demo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 10%; */
    width: fit-content;
    margin:10% 0% ;
    /* border: 2px solid red; */
    height: 45%;
    padding:3% 3%;
    background-color: rgb(255,255,255,0.3);
    border-radius: 10px;
    align-items: center;
}
label{
    font-size: 30px;
    font-weight: bolder;
}
.btn{
    width: 60%; 
}
.main{
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: space-around;
}
.main>div{
    /* border:2px solid red; */
    width: 100%;
}
@media only screen and (max-width: 450px) {
    .btn{
        width: 50vw;
    }
    .demo{
        width: 80%;
    }
}